.anime-watch-episode {
  width: 100%;
  /* height: 1200px; */
  padding-top: 1rem !important;
  /* background: blue; */
}

.anime-watch-episode .anime-watch-episode-container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
  /* background: red; */
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-video {
  width: 100%;
  position: relative;
  height: 56.25%;
  // padding-bottom: 56.25%;
  position: relative;
  /* background: purple; */
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-video iframe {
  position: absolute;
  border: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description {
  display: flex;
  padding: 1rem 0;
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .left-side {
  flex: 1;
  /* background: green; */
  align-content: center;
  display: flex;
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .left-side .cover {
  width: 20%;
  align-items: center;
  display: flex;
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .left-side .cover img {
  width: 100%;
  height: auto;
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .left-side .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 1em;
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .left-side .info h1 {
  margin: 0 !important;
  font-size: 1.15rem;
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .left-side .info h1:hover {
  color: #ff6c00;
  cursor: pointer;
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .left-side .info h2 {
  margin: .2em 0 0;
  font-weight: 400;
  font-size: .65rem;
  text-transform: uppercase;
  color: #b9b9b9;
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side {
  flex: 1;
  /* background: yellow; */
  display: flex;
  align-items: center;
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side .controls {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  /* background: brown; */
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side .controls .previous-option, .anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side .controls .list-option, .anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side .controls .next-option {
  display: flex;
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side .controls .previous-option:hover, .anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side .controls .list-option:hover, .anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side .controls .next-option:hover {
  color: #ff6c00;
  cursor: pointer;
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side .controls .previous-option .icon, .anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side .controls .list-option .icon, .anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side .controls .next-option .icon {
  flex: 1;
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side .controls .previous-option .icon i, .anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side .controls .list-option .icon i, .anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side .controls .next-option .icon i {
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .7rem;
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side .controls .previous-option .text, .anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side .controls .list-option .text, .anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side .controls .next-option .text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
  text-transform: uppercase;
  padding-top: 0.2em;
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side .controls .previous-option {
  order: 3;
  padding: .75em 1.25em;
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side .controls .list-option {
  order: 2;
  padding: .75em 0.25em;
}

.anime-watch-episode .anime-watch-episode-container .anime-watch-episode-description .right-side .controls .next-option {
  order: 1;
  padding: .75em 1.25em;
}