.pagination-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-box .item {
  display: flex;
  flex: 0 0 auto;
  padding: 0.298em 0.598em;
  margin: 0 0.1em;
  border-radius: 100%;
  justify-content: center;
  align-content: center;
  height: 1.1em;
  cursor: pointer;
  color: #b9b9b9;
  -webkit-transition: color .15s ease-in;
  transition: color .15s ease-in;
}

.pagination-box .item:hover {
  color: #f9f9f9;
}

.pagination-box .item.active {
  background-color: #ff6c00;
  color: #fff;
}

.pagination-box .item.control svg {
  fill: #b9b9b9;
  width: 18px;
  margin: 0;
  -webkit-transition: color .15s ease-in;
  transition: color .15s ease-in;
}

.pagination-box .item.control:hover svg {
  fill: #f9f9f9;
}

.pagination-box .item.mobile-control {
  display: none;
}
