
.video-react-has-started .video-react-control-bar {
  font-family: "Roboto";
}

.video-react .video-react-mouse-display {
  font-family: "Roboto" !important;
}

.video-react .video-react-progress-control:hover .video-react-play-progress:after {
  font-family: "Roboto" !important;
}

.video-react .video-react-play-progress,
.video-react .video-react-volume-level {
  background-color: #ff6c00;
}

.video-react .video-react-control-bar {
  background-color: rgba(0, 0, 0, 0.7);
}

.video-react .video-react-big-play-button {
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    color: #ff6c00;
    display: flex;
    border: 0.06666em solid transparent;
    background-color: rgba(0, 0, 0, 0.5);
}

.video-react:hover .video-react-big-play-button {
  border: 0.06666em solid #ff6c00;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-react .video-react-slider:focus {
  box-shadow: none;
  text-shadow: none;
}

.video-react .video-react-loading-spinner {
  border: 6px solid rgba(255, 108, 0, 0.7);
}