.anime-info {
  width: 100%;
  /* height: 1200px; */
  /* background: red; */
}

.anime-info .head {
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 10%;
  position: relative;
  z-index: 0;
}

.anime-info .head .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: -webkit-linear-gradient(top, rgba(23, 23, 23, 0.2) 0, #171717);
  background: linear-gradient(180deg, rgba(23, 23, 23, 0.2) 0, #171717);
  z-index: 1;
}

.anime-info .head .content {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.anime-info .head .content .centered-content {
  /* width: 60%;
  margin: 0 auto;
  height: 100px; */
  /* background: yellow !important; */
}

.anime-info .head .content .centered-content h1.anime-title {
  color: #f9f9f9;
  font-weight: 700;
  margin-bottom: 0.5em;
  min-height: 1rem;
  font-size: 2rem;
}

.anime-info .main {
  width: 100%;
  /* background: purple; */
}

.anime-info .head .content .centered-content,
.anime-info .main .content {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 35px;
}

.anime-info .main .content .small-side .details {
  /* margin-top: -200px; */
  margin-top: -110%;
  width: 100%;
}

.anime-info .main .content .small-side .cover {
  width: 100%;
  position: relative;
  z-index: 4;
}

.anime-info .main .content .small-side .cover img {
  width: 100%;
  height: auto;
}

.anime-info .main .content .small-side .cover-details {
  width: 100%;
  margin-top: 0.6rem;
}

.anime-info .main .content .small-side .cover-details .cover-detail-row {
  width: 100%;
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1875em 0;
}

.anime-info
  .main
  .content
  .small-side
  .cover-details
  .cover-detail-row
  span.cover-detail-row-title,
.anime-info
  .main
  .content
  .small-side
  .cover-details
  .cover-detail-row
  span.cover-detail-row-detail {
  flex: 1;
  text-transform: uppercase;
}

.anime-info
  .main
  .content
  .small-side
  .cover-details
  .cover-detail-row
  span.cover-detail-row-title {
  color: #b9b9b9;
  font-weight: 400;
  font-size: 0.6rem;
}

.anime-info
  .main
  .content
  .small-side
  .cover-details
  .cover-detail-row
  span.cover-detail-row-detail
  .fas.fa-star {
  font-size: 0.5rem;
  color: #fb0;
}

.anime-info
  .main
  .content
  .small-side
  .cover-details
  .cover-detail-row
  span.cover-detail-row-detail {
  display: flex;
  flex-direction: row-reverse;
  font-weight: 700;
  font-size: 0.7rem;
}

.anime-info .main .content .big-side {
}

.anime-info .main .content .big-side .sinopsis {
  color: #b9b9b9;
  font-size: 0.8rem;
  text-align: justify;
}
