.video-block {
  width: 80%;
  margin: 20px auto 50px;
}

.video-block .video-block-title {
  margin-bottom: 30px;
  display: flex;
}

.video-block .video-block-title .video-block-title-head {
  flex: 1;
}

.video-block .video-block-title .video-block-title-head span {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.28571429em;
  border-bottom: 2px solid #ff6c00;
  padding-bottom: .3em;
  margin-right: 20px;
}

.video-block .video-block-title .video-block-title-options {
  /* flex: 1; */
  display: flex;
  justify-content: flex-end;
}

.video-block .video-block-content {}